* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.kolom {
  float: left;
  width: 33.3%;
  /*padding: 0 10px;*/
  color: white;
}
.kolom1 {
  float: left;
  width: 20%;
  /*padding: 0 10px;*/
  color: white;
}

/* Remove extra left and right margins, due to padding */
.baris {margin: 0 -5px;}

/* Clear floats after the columns */
.baris:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .kolom {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  .kolom1 {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  
}
}

/* Style the counter cards */
.kartu {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  color: white;
  background-color: #212121;
  
    width:auto;/*maintain aspect ratio*/
    
}



/* Remove extra left and right margins, due to padding */


/* Clear floats after the columns */

