/*--
	Author: lavi
	Author URL: http://lavi.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
--*/

html,
body {
    margin: 0;
    font-size: 100%;
    background: #red;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body a,
.btn,
button {
    text-decoration: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    cursor: pointer !important;
}

a:hover {
    text-decoration: none;
}

input[type="button"],
input[type="submit"],
input[type="text"],
input[type="email"],
input[type="search"] {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    font-family: 'Poppins', sans-serif;
    cursor: pointer !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    letter-spacing: 1px;
    font-weight: 700;
}

p {
    font-size: 0.9em;
    color: #8c9398;
    line-height: 2em;
}

ul {
    margin: 0;
    padding: 0;
}

/*--/header --*/

/*--/header --*/

/* top bar */

.header-top {
    padding: 0 .5em;
}

.header-top p {
    display: inline-block;
    margin-left: 2em;
    color: #1e272e;
}

/* social icons */

.top-right-info li span {
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 2.2;
    font-size: 14px;
    text-align: center;
    border-radius: 50%;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.top-right-info li span.fa-facebook-f {
    background: #3b5998;
}

.top-right-info li span.fa-twitter {
    background: #1da1f2;
}

.top-right-info li span.fa-google-plus {
    background: #F44336;
}

.top-right-info li span.fa-dribbble {
    background: #ea4c89;
}

.top-right-info li span:hover,
.top-lavi p a:hover {
    opacity: 0.8;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.top-right-info li {
    display: inline-block;
}

/* //social icons */

.top-lavi p a:hover,
.w3l-footer ul li a:hover {
    opacity: .7;
}

a.login-button-2 {
    letter-spacing: 1px;
    font-size: 12px;
    background: #341f97;
    padding: 11px 20px;
    border-radius: 40px;
}

/* //top bar */

/*-- header --*/

/*-- header --*/

/* CSS Document */

header {
    z-index: 9;
    width: 100%;
    -webkit-box-shadow: 0 0.15rem 0.1rem 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 0.15rem 0.1rem 0 rgba(0, 0, 0, 0.05);
    background-color: white;
}

.toggle,
[id^=drop] {
    display: none;
}

/* Giving a background-color to the nav container. */

nav {
    margin: 0;
    padding: 0;
}

a.navbar-brand,
.footer h2 a {
    color: #323648;
    font-size: 33px;
    font-weight: 200;
    letter-spacing: 0px;
}

#logo a {
    float: left;
    display: initial;
}

#logo a.navbar-brand span {
    background: #17c0eb;
    width: 30px;
    height: 30px;
    padding: 0px 12px;
    text-transform: uppercase;
    font-weight: 800;
    color: #38393a;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    -webkit-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    -o-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    -moz-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    -ms-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
}

/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

nav:after {
    content: "";
    display: table;
    clear: both;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */

nav ul {
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

/* Positioning the navigation items inline */

nav ul li {
    margin: 0px;
    display: inline-block;
}

/* Styling the links */

nav a {
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 10px 0;
    color: #333;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 0 14px;
}


nav ul li ul li:hover {
    background: #f8f9fa;
}

/* Background color change on Hover */

nav a:hover {
    color: #17c0eb;
}

.menu li.active a {
    color: #17c0eb;
}

/* Hide Dropdowns by Default
 * and giving it a position of absolute */

nav ul ul {
    display: none;
    position: absolute;
    /* has to be the same number as the "line-height" of "nav a" */
    top: 30px;
    padding: 10px;
    background: #fff;
    padding: 10px;
    z-index: 999;
    border: 1px solid #ddd;
}

/* Display Dropdowns on Hover */

nav ul li:hover > ul {
    display: inherit;
}

/* Fisrt Tier Dropdown */

nav ul ul li {
    width: 170px;
    float: none;
    display: list-item;
    position: relative;
}

nav ul ul li a {
    color: #333;
    padding: 5px 10px;
    display: block;
}

/* Second, Third and more Tiers	
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/

nav ul ul ul li {
    position: relative;
    top: -60px;
    /* has to be the same number as the "width" of "nav ul ul li" */
    left: 170px;
}


/* Change ' +' in order to change the Dropdown symbol */

li > a:only-child:after {
    content: '';
}


/* Media Queries
--------------------------------------------- */

@media all and (max-width: 768px) {

    #logo {
        display: block;
        padding: 0;
        width: 100%;
        text-align: center;
        float: none;
    }

    nav {
        margin: 0;
    }

    /* Hide the navigation menu by default */
    /* Also hide the  */
    .toggle + a,
    .menu {
        display: none;
    }

    /* Stylinf the toggle lable */
    .toggle {
        display: block;
        padding: 7px 20px;
        font-size: 14px;
        text-decoration: none;
        border: none;
        float: right;
        background-color: #212529;
        color: #fff;
        cursor: pointer !important;
        margin-bottom: 0;
        text-transform: uppercase;
        margin-top: 0.7em;
    }
    .menu .toggle {
        float: none;
        text-align: center;
        margin: auto;
        width: 80%;
        padding: 5px;
        font-weight: normal;
        font-size: 16px;
        letter-spacing: 1px;
    }

    .toggle:hover {
        color: #333;
        background-color: #fff;
    }

    /* Display Dropdown when clicked on Parent Lable */
    [id^=drop]:checked + ul {
        display: block;
        background: rgba(16, 16, 16, 0.85);
        padding: 15px 0;
        text-align: center;
        width: 100%;
    }

    /* Change menu item's width to 100% */
    nav ul li {
        display: block;
        width: 100%;
        padding: 5px 0;
    }

    nav ul ul .toggle,
    nav ul ul a {
        padding: 0 40px;
    }

    nav ul ul ul a {
        padding: 0 80px;
    }

    nav a:hover,
    nav ul ul ul a {
        background-color: transparent;
        color: #fff;
    }

    nav ul li ul li .toggle,
    nav ul ul a,
    nav ul ul ul a {
        padding: 14px 20px;
        color: #FFF;
        font-size: 17px;
    }


    nav ul li ul li .toggle,
    nav ul ul a {
        background-color: #212121;
    }

    /* Hide Dropdowns by Default */
    nav ul ul {
        float: none;
        position: static;
        color: #ffffff;
        /* has to be the same number as the "line-height" of "nav a" */
    }

    /* Hide menus on hover */
    nav ul ul li:hover > ul,
    nav ul li:hover > ul {
        display: none;
    }

    /* Fisrt Tier Dropdown */
    nav ul ul li {
        display: block;
        width: 100%;
        padding: 0;
    }

    nav ul ul ul li {
        position: static;
        /* has to be the same number as the "width" of "nav ul ul li" */
    }
    nav ul ul li a {
        color: #fff;
        font-size: 0.85em;
    }
    nav ul li a {
        color: #fff;
    }
}

@media all and (max-width: 330px) {

    nav ul li {
        display: block;
        width: 94%;
    }

}

/* header */

a.contact {
    background: #ff3838;
    color: #f4f4f4;
    display: inline-block;
    background: #ff3838;
    padding: 11px 30px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #f4f4f4;
    border-radius: 4px;
    text-align: center;
}

a.contact:hover {
    color: #fff;
}

/*-- //header --*/

/*-- banner --*/








/* //slides images */

/* //testimonials */


/*--//responsive--*/
